@model dynamic

@{
    ViewBag.Title = "О проекте";
}

<h2>О проекте</h2>
<p>
    Данный сайт представляет Web-приложение "Каталог футболистов 3.0"
</p>

<p>
    <a href="https://github.com/MNYOU/CatalogOfFootballers">GitHub</a>
</p>
