@model ErrorViewModel
@{
    ViewData["Title"] = "Произошка ошибка";
}

<h2 class="text-danger">При обработке вашего запроса произошла ошибка.</h2>

@if (Model?.Message != null)
{
    <p>
        @Model.Message
    </p>
}

<h3>Режим разработки</h3>
<p>
    Переключение на <strong>среду разработки</strong> отобразит более подробную информацию о возникшей ошибке
</p>
<p>
    <strong>Среда разработки не должна быть включена для развернутых приложений.</strong>
    Это может привести к отображению конфиденциальной информации из исключений конечным пользователям.
    Для локальной отладки включите <strong>среду разработки</strong>, установив <strong>ASPNETCORE_ENVIRONMENT</strong> переменную среды для <strong>разработки</strong>
    и перезапустите приложение.
</p>